


<div style="height: 123px;"><div class="pb-menu pb pb-menu-sticky" id="pb_menu_B071DC61EA068864FC4FA0D05B79DDB7" style="display: block; margin-top: 0px;">
    <div class="pb-main pb-clear-fix">
        <div class="pb-logo">
            
    <a href="https://lagosprepikoyi.com.ng/" title="Lagos Preparatory &amp; Secondary School" style="width: 71px;">
        <img src="./Lagos Preparatory &amp; Secondary School _ Home_files/logo.jpeg" alt="Lagos Preparatory &amp; Secondary School" style="max-height: 71px;">
    </a>

        </div>
        <div class="pb-menu-default">
            <ul id="menu-lpss-menu" class="sf-menu pb-reset-list pb-clear-fix sf-js-enabled">
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-404 current_page_item sf-mega-enable-0 pb-menu-icon pb-menu-icon-D41D8CD98F00B204E9800998ECF8427E">
        <a href="https://lagosprepikoyi.com.ng/"><span></span>Home</a>

    </li>

    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children sf-mega-enable-0 pb-menu-icon pb-menu-icon-D41D8CD98F00B204E9800998ECF8427E">
        <a href="https://lagosprepikoyi.com.ng/about/" class="sf-with-ul"><span></span>AT A GLANCE</a>

    <ul style="display: none;">

    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="https://lagosprepikoyi.com.ng/about/#welcome" class="sf-with-ul"><span></span>Head of School's Welcome</a>

    <ul style="display: none;">

    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="https://lagosprepikoyi.com.ng/about/#history"><span></span>History of LPSS</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
        <a href="https://lagosprepikoyi.com.ng/curriculum/" class="sf-with-ul"><span></span>Curriculum</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/arts-at-lpss/"><span></span>Art &amp; Design</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/music-at-lpss/"><span></span>Music</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/sports-at-lpss/"><span></span>Sports</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/science-at-lpss/"><span></span>Science &amp; Technology</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/ict-at-lpss/"><span></span>Information &amp; Communication Technology</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/humanities-at-lpss/"><span></span>Humanities</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/languages-at-lpss/"><span></span>Languages</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-post_type menu-item-object-page">
        <a href="https://lagosprepikoyi.com.ng/curriculum-jigsaw/"><span></span>Curriculum Jigsaw</a>

    </li>

    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="https://lagosprepikoyi.com.ng/about/#support"><span></span>Learning Support</a>

    </li>

    <li class="menu-item menu-item-type-post_type menu-item-object-page">
        <a href="https://lagosprepikoyi.com.ng/after-school-clubs/"><span></span>After School Clubs</a>

    </li>

    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="https://lagosprepikoyi.com.ng/about/#faq"><span></span>FAQs</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sf-mega-enable-0 pb-menu-icon pb-menu-icon-D41D8CD98F00B204E9800998ECF8427E">
        <a href="https://lagosprepikoyi.com.ng/#" class="sf-with-ul"><span></span>SCHOOL POLICIES</a>

    <ul style="display: none;">

    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="https://lagosprepikoyi.com.ng/#" class="sf-with-ul"><span></span>Leadership</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/our-values-motto/"><span></span>Our Values &amp; Motto</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/vision-and-mission/"><span></span>Vision and Mission</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/board-sub-committees/"><span></span>Board Sub-Committees</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/profile-members-of-board-of-trustees/"><span></span>Profile – Members of Board Of Trustees</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="https://lagosprepikoyi.com.ng/#" class="sf-with-ul"><span></span>School Administration</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/whistleblowing/"><span></span>Whistleblowing</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/safer-recruitment/"><span></span>Safer Recruitment</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/admissions-policy-2/"><span></span>Admissions Policy</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="https://lagosprepikoyi.com.ng/#" class="sf-with-ul"><span></span>Facilities</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/health-safety/"><span></span>Health &amp; Safety</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/fire-safety-and-evacuation-policy/"><span></span>Fire Safety and Evacuation Policy</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/first-aid/"><span></span>First Aid</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/administration-of-medicine/"><span></span>Administration of Medicine</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/security/"><span></span>Security</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="https://lagosprepikoyi.com.ng/#" class="sf-with-ul"><span></span>Teaching &amp; Learning</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/extracurricular-activities/"><span></span>Extracurricular Activities</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/e-safety/"><span></span>E-Safety</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/send/"><span></span>SEND</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/english-as-an-additional-language/"><span></span>English as an Additional Language</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/homework-policy/"><span></span>Homework Policy</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/academic-honesty-misconduct/"><span></span>Academic Honesty &amp; Misconduct</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/marking-policy/"><span></span>Marking Policy</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/handwriting-policy/"><span></span>Handwriting Policy</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/teaching-and-learning/"><span></span>Teaching and Learning</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/display-policy/"><span></span>Display Policy</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="https://lagosprepikoyi.com.ng/#" class="sf-with-ul"><span></span>Student Welfare</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/child-protection-safeguarding-policy-2/"><span></span>Child Protection &amp; Safeguarding Policy</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/counselling-2/"><span></span>Counselling</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/behaviour-exclusion-policy-2/"><span></span>Behaviour &amp; Exclusion Policy</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/attendance-punctuality-policy-2/"><span></span>Attendance &amp; Punctuality Policy</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/anti-bullying/"><span></span>Anti-Bullying</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/student-council-2/"><span></span>Student Council</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/student-prefects-2/"><span></span>Student Prefects</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/school-uniform-student-attire-2/"><span></span>School Uniform &amp; Student Attire</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/trips-excursions-policy-2/"><span></span>Trips &amp; Excursions Policy</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/house-system-2/"><span></span>House System</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/certification-awards-2/"><span></span>Certification &amp; Awards</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/alcohol-and-drugs-2/"><span></span>Alcohol and Drugs</a>

    </li>

    </ul>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sf-mega-enable-0 pb-menu-icon pb-menu-icon-D41D8CD98F00B204E9800998ECF8427E">
        <a href="https://lagosprepikoyi.com.ng/#" class="sf-with-ul"><span></span>OUR SCHOOLS</a>

    <ul style="display: none;">

    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="https://lagosprepikoyi.com.ng/eyfs/" class="sf-with-ul"><span></span>EYFS</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/eyfs/"><span></span>EYFS at LPSS</a>

    </li>

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/eyfs/#curriculum"><span></span>Curriculum</a>

    </li>

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/05/Development-Matters-In-EYFS.pdf" class="pb-window-target-blank" target="_blank"><span></span>Download EYFS Curriculum</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
        <a href="https://lagosprepikoyi.com.ng/primary/" class="sf-with-ul"><span></span>PRIMARY</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/primary/#primary"><span></span>Primary at LPSS</a>

    </li>

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/primary/#subjects"><span></span>Subjects</a>

    </li>

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/05/PRIMARY-National-Curriculum.pdf" class="pb-window-target-blank" target="_blank"><span></span>Download The National Primary Curriculum</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
        <a href="https://lagosprepikoyi.com.ng/secondary/" class="sf-with-ul"><span></span>SECONDARY</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="http://bit.ly/lpssee" class="pb-window-target-blank" target="_blank"><span></span>Year 7 Entrance Registration</a>

    </li>

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/secondary/#secondary"><span></span>Secondary at LPSS</a>

    </li>

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/secondary/#subjects"><span></span>Subjects</a>

    </li>

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/05/SECONDARY_national_curriculum.pdf" class="pb-window-target-blank" target="_blank"><span></span>Download The National Secondary Curriculum</a>

    </li>

    </ul>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children sf-mega-enable-0 pb-menu-icon pb-menu-icon-D41D8CD98F00B204E9800998ECF8427E">
        <a href="https://lagosprepikoyi.com.ng/admission/" class="sf-with-ul"><span></span>ADMISSION</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/admission/#visit"><span></span>Visits &amp; Open Days</a>

    </li>

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/admission/#procedure"><span></span>Admission Procedure</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/registration-form/"><span></span>Registration Form</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-post_type menu-item-object-page sf-mega-enable-0 pb-menu-icon pb-menu-icon-D41D8CD98F00B204E9800998ECF8427E">
        <a href="https://lagosprepikoyi.com.ng/gallery/"><span></span>GALLERY</a>

    </li>

    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children sf-mega-enable-0 pb-menu-icon pb-menu-icon-D41D8CD98F00B204E9800998ECF8427E">
        <a href="https://lagosprepikoyi.com.ng/#" class="sf-with-ul"><span></span>INFO</a>

    <ul style="display: none;">

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/wp-content/uploads/2023/07/LPSS-Calendar-2023-2024.pdf" class="pb-window-target-blank" target="_blank"><span></span>2023/24 School Calendar</a>

    </li>

    <li class=" menu-item menu-item-type-custom menu-item-object-custom  ">
        <a href="https://lagosprepikoyi.com.ng/wp-content/uploads/2022/09/LPSS-School-Calendar-2022-2023.pdf" class="pb-window-target-blank" target="_blank"><span></span>2022/23 School Calendar</a>

    </li>

    <li class=" menu-item menu-item-type-post_type menu-item-object-page  ">
        <a href="https://lagosprepikoyi.com.ng/news/"><span></span>Blog</a>

    </li>

    <li class=" menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home  ">
        <a href="https://lagosprepikoyi.com.ng/" class="pb-window-target-blank" target="_blank"><span></span>Coming Up</a>

    </li>

    </ul>

    </li>

    <li class="menu-item menu-item-type-post_type menu-item-object-page sf-mega-enable-0 pb-menu-icon pb-menu-icon-D41D8CD98F00B204E9800998ECF8427E">
        <a href="https://lagosprepikoyi.com.ng/contact-us/"><span></span>CONTACT</a>

    </li>
</ul>
        </div>
        <div class="pb-menu-responsive">
            <div id="menu-lpss-menu-1" class="pb-clear-fix"><a href="https://lagosprepikoyi.com.ng/#" class="nav-toggle" aria-hidden="false">Menu<span><span></span></span></a><div id="pb_menu_responsive_190CE70BF004CB045338E61D35340189" class="nav-collapse nav-collapse-0 closed" aria-hidden="true" style="transition: max-height 284ms; position: absolute;"><ul>
<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-404 current_page_item">
    <a href="https://lagosprepikoyi.com.ng/">Home</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/about/">AT A GLANCE</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/about/#welcome">-- Head of School's Welcome</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/about/#history">---- History of LPSS</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/curriculum/">-- Curriculum</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/arts-at-lpss/">---- Art &amp; Design</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/music-at-lpss/">---- Music</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/sports-at-lpss/">---- Sports</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/science-at-lpss/">---- Science &amp; Technology</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/ict-at-lpss/">---- Information &amp; Communication Technology</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/humanities-at-lpss/">---- Humanities</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/languages-at-lpss/">---- Languages</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/curriculum-jigsaw/">-- Curriculum Jigsaw</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/about/#support">-- Learning Support</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/after-school-clubs/">-- After School Clubs</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/about/#faq">-- FAQs</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/#">SCHOOL POLICIES</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/#">-- Leadership</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/our-values-motto/">---- Our Values &amp; Motto</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/vision-and-mission/">---- Vision and Mission</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/board-sub-committees/">---- Board Sub-Committees</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/profile-members-of-board-of-trustees/">---- Profile – Members of Board Of Trustees</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/#">-- School Administration</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/whistleblowing/">---- Whistleblowing</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/safer-recruitment/">---- Safer Recruitment</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/admissions-policy-2/">---- Admissions Policy</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/#">-- Facilities</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/health-safety/">---- Health &amp; Safety</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/fire-safety-and-evacuation-policy/">---- Fire Safety and Evacuation Policy</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/first-aid/">---- First Aid</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/administration-of-medicine/">---- Administration of Medicine</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/security/">---- Security</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/#">-- Teaching &amp; Learning</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/extracurricular-activities/">---- Extracurricular Activities</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/e-safety/">---- E-Safety</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/send/">---- SEND</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/english-as-an-additional-language/">---- English as an Additional Language</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/homework-policy/">---- Homework Policy</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/academic-honesty-misconduct/">---- Academic Honesty &amp; Misconduct</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/marking-policy/">---- Marking Policy</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/handwriting-policy/">---- Handwriting Policy</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/teaching-and-learning/">---- Teaching and Learning</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/display-policy/">---- Display Policy</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/#">-- Student Welfare</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/child-protection-safeguarding-policy-2/">---- Child Protection &amp; Safeguarding Policy</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/counselling-2/">---- Counselling</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/behaviour-exclusion-policy-2/">---- Behaviour &amp; Exclusion Policy</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/attendance-punctuality-policy-2/">---- Attendance &amp; Punctuality Policy</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/anti-bullying/">---- Anti-Bullying</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/student-council-2/">---- Student Council</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/student-prefects-2/">---- Student Prefects</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/school-uniform-student-attire-2/">---- School Uniform &amp; Student Attire</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/trips-excursions-policy-2/">---- Trips &amp; Excursions Policy</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/house-system-2/">---- House System</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/certification-awards-2/">---- Certification &amp; Awards</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/alcohol-and-drugs-2/">---- Alcohol and Drugs</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/#">OUR SCHOOLS</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/eyfs/">-- EYFS</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/eyfs/">---- EYFS at LPSS</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/eyfs/#curriculum">---- Curriculum</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/05/Development-Matters-In-EYFS.pdf" class="pb-window-target-blank" target="_blank">---- Download EYFS Curriculum</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/primary/">-- PRIMARY</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/primary/#primary">---- Primary at LPSS</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/primary/#subjects">---- Subjects</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/05/PRIMARY-National-Curriculum.pdf" class="pb-window-target-blank" target="_blank">---- Download The National Primary Curriculum</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/secondary/">-- SECONDARY</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="http://bit.ly/lpssee" class="pb-window-target-blank" target="_blank">---- Year 7 Entrance Registration</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/secondary/#secondary">---- Secondary at LPSS</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/secondary/#subjects">---- Subjects</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/05/SECONDARY_national_curriculum.pdf" class="pb-window-target-blank" target="_blank">---- Download The National Secondary Curriculum</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/admission/">ADMISSION</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/admission/#visit">-- Visits &amp; Open Days</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/admission/#procedure">-- Admission Procedure</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/registration-form/">-- Registration Form</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/gallery/">GALLERY</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children">
    <a href="https://lagosprepikoyi.com.ng/#">INFO</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/wp-content/uploads/2023/07/LPSS-Calendar-2023-2024.pdf" class="pb-window-target-blank" target="_blank">-- 2023/24 School Calendar</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom">
    <a href="https://lagosprepikoyi.com.ng/wp-content/uploads/2022/09/LPSS-School-Calendar-2022-2023.pdf" class="pb-window-target-blank" target="_blank">-- 2022/23 School Calendar</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/news/">-- Blog</a>
</li>

<li class=" menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
    <a href="https://lagosprepikoyi.com.ng/" class="pb-window-target-blank" target="_blank">-- Coming Up</a>
</li>

<li class=" menu-item menu-item-type-post_type menu-item-object-page">
    <a href="https://lagosprepikoyi.com.ng/contact-us/">CONTACT</a>
</li>
</ul></div></div>
        </div>	
    </div>
</div>