


{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="pb-script-tag">
    <script type="text/javascript">
        jQuery(document).ready(function($)
        {
            $('#pb_menu_FEBE6BB8348EC448BFC0C5982D70B1E1').PBMenu({"responsive_mode":"768","sticky_enable":"1","hide_scroll_enable":"0","menu_animation_enable":"1","menu_animation_speed_open":"400","menu_animation_speed_close":"200","menu_animation_delay":"0","scroll_animation_enable":"1","scroll_animation_speed":"1000","scroll_animation_easing":"easeOutQuint","responsive_menu_id":"pb_menu_responsive_E5A7B254E7AB39772D50B07CF8BB923E","responsive_menu_label":"Menu"});
        });
    </script>
</div>

    <div class="theme-page" style="margin-bottom: 152px;">
        <div class="theme-page-content theme-clear-fix theme-main ">
<div class="theme-clear-fix">

<ul class="theme-reset-list theme-clear-fix theme-blog">
    <li id="post-3230" class="theme-clear-fix theme-post theme-post-type-sticky post-3230 post type-post status-publish format-standard sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2023/02/08/parent-teacher-conference/" title="View post &quot;Parent-Teacher Conference&quot;">Parent-Teacher Conference</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2023/02/" title="View all posts from &quot;February 2023&quot;">
                    February 8, 2023							</a>
            </div>

        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>Parent-Teacher Conference</p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2023/02/08/parent-teacher-conference/" class="theme-post-button-continue" title="Continue reading post &quot;Parent-Teacher Conference&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-3153" class="theme-clear-fix theme-post theme-post-type-sticky post-3153 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-events">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2022/09/14/welcome-back/" title="View post &quot;Welcome Back!&quot;">Welcome Back!</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2022/09/" title="View all posts from &quot;September 2022&quot;">
                    September 14, 2022							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2022/09/14/welcome-back/" class="pb-image" title="View post &quot;Welcome Back!&quot;" style="opacity: 1;">
                    <img width="500" height="500" src="./news_files/welcome-back-to-school.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" fetchpriority="high" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2022/09/welcome-back-to-school.jpg 500w, https://lagosprepikoyi.com.ng/wp-content/uploads/2022/09/welcome-back-to-school-300x300.jpg 300w, https://lagosprepikoyi.com.ng/wp-content/uploads/2022/09/welcome-back-to-school-150x150.jpg 150w" sizes="(max-width: 500px) 100vw, 500px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>Welcome back to school</p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2022/09/14/welcome-back/" class="theme-post-button-continue" title="Continue reading post &quot;Welcome Back!&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-3082" class="theme-clear-fix theme-post theme-post-type-sticky post-3082 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2021/11/25/year-3-to-5-coffee-morning/" title="View post &quot;Year 3 to 5 Coffee Morning&quot;">Year 3 to 5 Coffee Morning</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2021/11/" title="View all posts from &quot;November 2021&quot;">
                    November 25, 2021							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2021/11/25/year-3-to-5-coffee-morning/" class="pb-image" title="View post &quot;Year 3 to 5 Coffee Morning&quot;" style="opacity: 1;">
                    <img width="1050" height="770" src="./news_files/coffee-morning-year-3-4-5-1050x770.png" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2021/11/coffee-morning-year-3-4-5-1050x770.png 1050w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/11/coffee-morning-year-3-4-5-690x506.png 690w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/11/coffee-morning-year-3-4-5-525x385.png 525w" sizes="(max-width: 1050px) 100vw, 1050px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>Year 3 to 5 Coffee Morning</p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2021/11/25/year-3-to-5-coffee-morning/" class="theme-post-button-continue" title="Continue reading post &quot;Year 3 to 5 Coffee Morning&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-3071" class="theme-clear-fix theme-post theme-post-type-sticky post-3071 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2021/11/03/year-1-and-2-coffee-morning/" title="View post &quot;Year 1 and 2 Coffee Morning&quot;">Year 1 and 2 Coffee Morning</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2021/11/" title="View all posts from &quot;November 2021&quot;">
                    November 3, 2021							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2021/11/03/year-1-and-2-coffee-morning/" class="pb-image" title="View post &quot;Year 1 and 2 Coffee Morning&quot;" style="opacity: 1;">
                    <img width="1050" height="770" src="./news_files/Y1-2-coffee-morning-1050x770.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2021/11/Y1-2-coffee-morning-1050x770.jpg 1050w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/11/Y1-2-coffee-morning-690x506.jpg 690w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/11/Y1-2-coffee-morning-525x385.jpg 525w" sizes="(max-width: 1050px) 100vw, 1050px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>Year 1 and 2 Coffee Morning</p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2021/11/03/year-1-and-2-coffee-morning/" class="theme-post-button-continue" title="Continue reading post &quot;Year 1 and 2 Coffee Morning&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-3067" class="theme-clear-fix theme-post theme-post-type-sticky post-3067 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2021/11/03/eyfs-coffee-morning/" title="View post &quot;EYFS Coffee Morning&quot;">EYFS Coffee Morning</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2021/11/" title="View all posts from &quot;November 2021&quot;">
                    November 3, 2021							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2021/11/03/eyfs-coffee-morning/" class="pb-image" title="View post &quot;EYFS Coffee Morning&quot;" style="opacity: 1;">
                    <img width="1050" height="770" src="./news_files/EYFS-coffee-morning-1050x770.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2021/11/EYFS-coffee-morning-1050x770.jpg 1050w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/11/EYFS-coffee-morning-690x506.jpg 690w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/11/EYFS-coffee-morning-525x385.jpg 525w" sizes="(max-width: 1050px) 100vw, 1050px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>EYFS Coffee Morning</p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2021/11/03/eyfs-coffee-morning/" class="theme-post-button-continue" title="Continue reading post &quot;EYFS Coffee Morning&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-3031" class="theme-clear-fix theme-post theme-post-type-sticky post-3031 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2021/06/04/kindness/" title="View post &quot;Kindness&quot;">Kindness</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2021/06/" title="View all posts from &quot;June 2021&quot;">
                    June 4, 2021							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2021/06/04/kindness/" class="pb-image" title="View post &quot;Kindness&quot;" style="opacity: 1;">
                    <img width="464" height="551" src="./news_files/kindness_blog.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2021/06/kindness_blog.jpg 464w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/06/kindness_blog-253x300.jpg 253w" sizes="(max-width: 464px) 100vw, 464px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>Kindness can be described as the value of being polite, compassionate, and thoughtful. Unconditional love, tenderness, comfort, concern, and support<span class="excerpt-more"> <a href="https://lagosprepikoyi.com.ng/2021/06/04/kindness/" title="Continue reading post &quot;Kindness&quot;">[…]</a></span></p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2021/06/04/kindness/" class="theme-post-button-continue" title="Continue reading post &quot;Kindness&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-3028" class="theme-clear-fix theme-post theme-post-type-sticky post-3028 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2021/06/04/skills-for-the-future/" title="View post &quot;Skills for the Future&quot;">Skills for the Future</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2021/06/" title="View all posts from &quot;June 2021&quot;">
                    June 4, 2021							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2021/06/04/skills-for-the-future/" class="pb-image" title="View post &quot;Skills for the Future&quot;" style="opacity: 1;">
                    <img width="1050" height="770" src="./news_files/skills_blog-1050x770.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2021/06/skills_blog-1050x770.jpg 1050w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/06/skills_blog-690x506.jpg 690w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/06/skills_blog-525x385.jpg 525w" sizes="(max-width: 1050px) 100vw, 1050px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>In our competitive world, what skills will allow our children to flourish and stand out from the crowd? This was<span class="excerpt-more"> <a href="https://lagosprepikoyi.com.ng/2021/06/04/skills-for-the-future/" title="Continue reading post &quot;Skills for the Future&quot;">[…]</a></span></p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2021/06/04/skills-for-the-future/" class="theme-post-button-continue" title="Continue reading post &quot;Skills for the Future&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-3009" class="theme-clear-fix theme-post theme-post-type-sticky post-3009 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-holiday category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2021/05/11/ramadan/" title="View post &quot;Ramadan&quot;">Ramadan</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2021/05/" title="View all posts from &quot;May 2021&quot;">
                    May 11, 2021							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2021/05/11/ramadan/" class="pb-image" title="View post &quot;Ramadan&quot;" style="opacity: 1;">
                    <img width="1050" height="770" src="./news_files/ramadan2-1050x770.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2021/05/ramadan2-1050x770.jpg 1050w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/05/ramadan2-690x506.jpg 690w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/05/ramadan2-525x385.jpg 525w" sizes="(max-width: 1050px) 100vw, 1050px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>Ramadan by Mrs Tosin Lawal So, It’s no news to people in the LPSS community and beyond that it’s that<span class="excerpt-more"> <a href="https://lagosprepikoyi.com.ng/2021/05/11/ramadan/" title="Continue reading post &quot;Ramadan&quot;">[…]</a></span></p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2021/05/11/ramadan/" class="theme-post-button-continue" title="Continue reading post &quot;Ramadan&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-3004" class="theme-clear-fix theme-post theme-post-type-sticky post-3004 post type-post status-publish format-standard sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2021/03/23/summative-assessments/" title="View post &quot;Summative Assessments&quot;">Summative Assessments</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2021/03/" title="View all posts from &quot;March 2021&quot;">
                    March 23, 2021							</a>
            </div>

        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>As we enter the next cycle of assessment at LPSS, many of you may be wondering, why does my child<span class="excerpt-more"> <a href="https://lagosprepikoyi.com.ng/2021/03/23/summative-assessments/" title="Continue reading post &quot;Summative Assessments&quot;">[…]</a></span></p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2021/03/23/summative-assessments/" class="theme-post-button-continue" title="Continue reading post &quot;Summative Assessments&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-2990" class="theme-clear-fix theme-post theme-post-type-sticky post-2990 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2021/03/12/design-thinking/" title="View post &quot;Design Thinking&quot;">Design Thinking</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2021/03/" title="View all posts from &quot;March 2021&quot;">
                    March 12, 2021							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2021/03/12/design-thinking/" class="pb-image" title="View post &quot;Design Thinking&quot;" style="opacity: 1;">
                    <img width="1000" height="360" src="./news_files/adapteedFramework.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2021/03/adapteedFramework.jpg 1000w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/03/adapteedFramework-300x108.jpg 300w, https://lagosprepikoyi.com.ng/wp-content/uploads/2021/03/adapteedFramework-768x276.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>What do successful and innovative companies and individuals have in common? Usually, the company or individuals are creative, collaborative, critical<span class="excerpt-more"> <a href="https://lagosprepikoyi.com.ng/2021/03/12/design-thinking/" title="Continue reading post &quot;Design Thinking&quot;">[…]</a></span></p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2021/03/12/design-thinking/" class="theme-post-button-continue" title="Continue reading post &quot;Design Thinking&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-2197" class="theme-clear-fix theme-post theme-post-type-sticky post-2197 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2021/01/27/summer-school/" title="View post &quot;The Future of Education&quot;">The Future of Education</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2021/01/" title="View all posts from &quot;January 2021&quot;">
                    January 27, 2021							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2021/01/27/summer-school/" class="pb-image" title="View post &quot;The Future of Education&quot;" style="opacity: 1;">
                    <img width="1050" height="770" src="./news_files/the8Cs-1-1050x770.jpeg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/06/the8Cs-1-1050x770.jpeg 1050w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/06/the8Cs-1-690x506.jpeg 690w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/06/the8Cs-1-525x385.jpeg 525w" sizes="(max-width: 1050px) 100vw, 1050px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>How do we prepare students for today’s society? This is particularly relevant in our current situation when most students have<span class="excerpt-more"> <a href="https://lagosprepikoyi.com.ng/2021/01/27/summer-school/" title="Continue reading post &quot;The Future of Education&quot;">[…]</a></span></p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2021/01/27/summer-school/" class="theme-post-button-continue" title="Continue reading post &quot;The Future of Education&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-2200" class="theme-clear-fix theme-post theme-post-type-sticky post-2200 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2021/01/25/michaelmas-term-resumption/" title="View post &quot;Burns Night&quot;">Burns Night</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2021/01/" title="View all posts from &quot;January 2021&quot;">
                    January 25, 2021							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2021/01/25/michaelmas-term-resumption/" class="pb-image" title="View post &quot;Burns Night&quot;" style="opacity: 1;">
                    <img width="720" height="770" src="./news_files/67915659_2321273564779605_5434823282459148288_n-e1611738731782-720x770.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/06/67915659_2321273564779605_5434823282459148288_n-e1611738731782-720x770.jpg 720w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/06/67915659_2321273564779605_5434823282459148288_n-e1611738731782-525x560.jpg 525w" sizes="(max-width: 720px) 100vw, 720px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>Today is a special day for all the Scots around the world as we celebrate Burn’s Night. The night of<span class="excerpt-more"> <a href="https://lagosprepikoyi.com.ng/2021/01/25/michaelmas-term-resumption/" title="Continue reading post &quot;Burns Night&quot;">[…]</a></span></p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2021/01/25/michaelmas-term-resumption/" class="theme-post-button-continue" title="Continue reading post &quot;Burns Night&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-2842" class="theme-clear-fix theme-post theme-post-type-sticky post-2842 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2020/12/23/condolence-register-julius-oniosun/" title="View post &quot;Condolence Register Julius Oniosun&quot;">Condolence Register Julius Oniosun</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2020/12/" title="View all posts from &quot;December 2020&quot;">
                    December 23, 2020							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2020/12/23/condolence-register-julius-oniosun/" class="pb-image" title="View post &quot;Condolence Register Julius Oniosun&quot;" style="opacity: 1;">
                    <img width="1050" height="770" src="./news_files/Julius-1-1050x770.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2020/12/Julius-1-1050x770.jpg 1050w, https://lagosprepikoyi.com.ng/wp-content/uploads/2020/12/Julius-1-690x506.jpg 690w, https://lagosprepikoyi.com.ng/wp-content/uploads/2020/12/Julius-1-525x385.jpg 525w" sizes="(max-width: 1050px) 100vw, 1050px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>Julius Oluwole Oniosun 6th April 1988 to 19th December 2020 Gone too Soon Julius Oniosun was a Sports Coach at<span class="excerpt-more"> <a href="https://lagosprepikoyi.com.ng/2020/12/23/condolence-register-julius-oniosun/" title="Continue reading post &quot;Condolence Register Julius Oniosun&quot;">[…]</a></span></p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2020/12/23/condolence-register-julius-oniosun/" class="theme-post-button-continue" title="Continue reading post &quot;Condolence Register Julius Oniosun&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-1595" class="theme-clear-fix theme-post theme-post-type-sticky post-1595 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2019/04/01/sports-day/" title="View post &quot;Sports’ Day&quot;">Sports’ Day</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2019/04/" title="View all posts from &quot;April 2019&quot;">
                    April 1, 2019							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2019/04/01/sports-day/" class="pb-image" title="View post &quot;Sports’ Day&quot;" style="opacity: 1;">
                    <img width="1024" height="680" src="./news_files/lpss_gallery_8.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_gallery_8.jpg 1024w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_gallery_8-300x199.jpg 300w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_gallery_8-768x510.jpg 768w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_gallery_8-600x398.jpg 600w" sizes="(max-width: 1024px) 100vw, 1024px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>22nd – 25th March, 2019</p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2019/04/01/sports-day/" class="theme-post-button-continue" title="Continue reading post &quot;Sports’ Day&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-1592" class="theme-clear-fix theme-post theme-post-type-sticky post-1592 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2019/04/01/star-trek/" title="View post &quot;Star Trek&quot;">Star Trek</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2019/04/" title="View all posts from &quot;April 2019&quot;">
                    April 1, 2019							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2019/04/01/star-trek/" class="pb-image" title="View post &quot;Star Trek&quot;" style="opacity: 1;">
                    <img width="1024" height="680" src="./news_files/lpss_gallery_7.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_gallery_7.jpg 1024w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_gallery_7-300x199.jpg 300w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_gallery_7-768x510.jpg 768w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_gallery_7-600x398.jpg 600w" sizes="(max-width: 1024px) 100vw, 1024px">								<span style="opacity: 0;"><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>23rd March, 2019</p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2019/04/01/star-trek/" class="theme-post-button-continue" title="Continue reading post &quot;Star Trek&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
    <li id="post-1590" class="theme-clear-fix theme-post theme-post-type-sticky post-1590 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized">
        <div class="theme-post-section-header">
            <h2 class="theme-post-header">
                <a href="https://lagosprepikoyi.com.ng/2019/04/01/parents-conference-half-term/" title="View post &quot;Parents Conference &amp; Half Term&quot;">Parents Conference &amp; Half Term</a>
            </h2>

            <div class="theme-post-date">
                <a href="https://lagosprepikoyi.com.ng/2019/04/" title="View all posts from &quot;April 2019&quot;">
                    April 1, 2019							</a>
            </div>

        </div>
        <div class="theme-post-section-icon">
            <div class="theme-post-icon theme-post-icon"></div>
        </div>
        
        <div class="theme-post-section-preambule">
            <div class="pb-image-box pb-image-preloader-animation-enable pb-image-hover pb-image-hover-type-fade" style="height: auto; background-image: none;">
                <a href="https://lagosprepikoyi.com.ng/2019/04/01/parents-conference-half-term/" class="pb-image" title="View post &quot;Parents Conference &amp; Half Term&quot;" style="opacity: 1;">
                    <img width="1024" height="680" src="./news_files/lpss_kids_learning.jpg" class="attachment-image-1050-770 size-image-1050-770 wp-post-image" alt="" decoding="async" srcset="https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_kids_learning.jpg 1024w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_kids_learning-300x199.jpg 300w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_kids_learning-768x510.jpg 768w, https://lagosprepikoyi.com.ng/wp-content/uploads/2019/04/lpss_kids_learning-600x398.jpg 600w" sizes="(max-width: 1024px) 100vw, 1024px">								<span><span><span></span></span></span>
                </a>
            </div>
        </div>
        <div class="theme-post-section-content">
            <div class="theme-post-content"><p>22nd February, 2019</p>
</div>
        </div>
        <div class="theme-post-section-button">
            <a href="https://lagosprepikoyi.com.ng/2019/04/01/parents-conference-half-term/" class="theme-post-button-continue" title="Continue reading post &quot;Parents Conference &amp; Half Term&quot;">Continue reading<i class="pb-button-arrow pb-button-arrow-right"></i></a>
        </div>	
        
        <div class="theme-post-section-divider">
            <div class="theme-post-divider"></div>
        </div>

    </li>
</ul>


    <div class="theme-blog-pagination-box">
        <div class="theme-blog-pagination">
            <span aria-current="page" class="page-numbers current">1</span>
<a class="page-numbers" href="https://lagosprepikoyi.com.ng/news/page/2/">2</a>
<a class="page-numbers" href="https://lagosprepikoyi.com.ng/news/page/3/">3</a>
<a class="next page-numbers" href="https://lagosprepikoyi.com.ng/news/page/2/">Next</a>
        </div>
    </div>

</div>
        </div>
    
    </div>
{% endblock content %}
