





{% extends './base.html' %}
{% load static %}
{% block content %}

<div class="section hidelanding" style="height: 1310px;">
    <div id="container" class="container"><a id="skip-to-content" name="skip-to-content" class="anchor_padding"></a>
        <div class="row">
            <div class="col-12 col-lg-9 col-xl-10">
                <div class="section-breadcrumbs"><!-- Breadcrumb NavXT 6.3.0 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home Page." href="/" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Connect." href="https://www.Trinity.utoronto.ca/connect/" class="post post-page"><span property="name">Connect</span></a><meta property="position" content="2"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Giving." href="https://www.Trinity.utoronto.ca/connect/giving/" class="post post-page"><span property="name">Giving</span></a><meta property="position" content="3"></span> &gt; <span class="hidebreadcrumb">Ways to Give</span></div>
                <div class="sectionContent">
                    <h1>Ways to Give</h1>
                <p>Trinity College is small, diverse and dynamic. We are committed to fostering the highest possible intellectual achievement, while developing leadership talent and a sense of social responsibility in each of our students.</p>
<p>But our commitment isn’t enough. We rely on alumni, parents and friends to provide support for student resources.</p>
<p>To excel, our students must benefit from the generosity of those who came before. We encourage you to share in our commitment by supporting Trinity through any of the avenues that you will find described on this web site.</p>
<p>Your support makes it possible for us to keep the College strong and to provide our students with resources to develop their many talents. Thank you for making this possible.</p>
<p>There are several easy ways to make a personal donation:</p>
<a href="https://secure.e2rm.com/registrant/startup.aspx?eventid=357160" class="btn-content">Make a one-time or monthly gift online</a>
<p><a href="https://www.Trinity.utoronto.ca/Trinity-college-gift-form/" rel="noopener noreferrer">Donate by mail or fax</a> (PDF)</p>
<p>Donate by phone: call us at 416-978-2566</p>
<div class="expand-title expanded" tabindex="0" aria-expanded="true">Legacy Giving</div><div class="expand-wrapper" style="max-height: 109px;"><div class="expand-content"><p>
Learn how you can create your legacy with Trinity College, knowing your gift goes directly to the scholarships, bursaries and academic programs that allow our brilliant students thrive and succeed now, and in the future. <a href="https://www.Trinity.utoronto.ca/connect/giving/our-donors/legacy-giving/">Click here to learn more about legacy giving</a>.</p>
</div></div>
<div class="expand-title" tabindex="0" aria-expanded="false">In Memoriam</div><div class="expand-wrapper" style=""><div class="expand-content"><p>
Making a donation in memory of someone provides an opportunity to celebrate the accomplishments of the life of a loved one while supporting the College. When Trinity receives a memorial gift, we will forward an acknowledgement to the family of the individual whose memory you honour. For more information call (416) 978-4071.</p>
</div></div>
<div class="expand-title" tabindex="0">Tribute Gifts</div><div class="expand-wrapper"><div class="expand-content"><p>
Life at Trinity holds a special place in the memory of alumni. What better way to commemorate the occasion than with a gift to one’s alma mater? Mark an anniversary, birthday, reunion, or other special occasion with a tribute gift to Trinity College. For more information call (416) 978-4071.</p>
</div></div>
<div class="expand-title" tabindex="0">Gifts-in-kind and Gifts of Personal Property</div><div class="expand-wrapper"><div class="expand-content"><p>
Gifts-in-kind may be added to the College’s collections for the enjoyment of future generations of students and faculty. Proceeds from gifts-in-kind that are to be liquidated upon the transfer of ownership to Trinity, help to maintain Trinity’s buildings and endowments.</p>
<p>If you are considering a gift of property, such as art collections, rare books, academic papers, musical scores, real estate or other valuables, please contact us first. Real estate, certified cultural property or corporate inventory property involve special consideration when given as a charitable gift.</p>
<p>For more information call (416) 978-4071.</p>
<p><strong>Benefits of making a gift-in-kind:</strong></p>
<p>Receive a tax receipt for the appraised fair-market value determined on the day the gift is made. Claim charitable donations up to 75 per cent of your net income, plus claim 25 per cent of the taxable capital gain resulting from a gift of appreciated capital property. A five year carry forward on unused donation amounts is permitted.</p>
<p>Gifts-in-kind of national importance that are eligible for certification under the federal Cultural Property Export and Import Act may be claimed up to 100 per cent of your net annual income in the year of the gift, and any capital gain triggered by the gift is exempt from inclusion as income.</p>
<p>
</p></div></div>
<div class="expand-title" tabindex="0">Matching Gifts</div><div class="expand-wrapper"><div class="expand-content"><p>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Double or triple the impact of your gift with the help of your employer.</strong></p>
<p>Hundreds of companies in North America will match contributions made to&nbsp;Trinity by their employees. Some companies will even match gifts contributed by spouses or retired employees. Is your company a matching gift company? Search our list of Canadian companies or U.S. companies that will match your donation. Contact your Human Resources department to obtain a matching gift form and complete your portion. Then, include the form when you send in your gift to the University and we will take care of the rest. That is all it takes to double or even triple the good you do. <a href="https://boundless.utoronto.ca/ways-to-give/matching-gifts/" rel="noopener noreferrer">Visit the University of {{site.country}}website to see if your company will match your gift</a>.</p>
</div></div>
<div class="expand-title" tabindex="0">International Gifts</div><div class="expand-wrapper"><div class="expand-content"><p>
Not a resident of Canada? Alumni and friends around the world can still help support Trinity.</p>
<p><strong>USA</strong><br>
Trinity College alumni and their families (family members are defined as: spouses, children, grandchildren, parents and siblings) who are residents of the US may make donations directly to Trinity and use the College’s charitable receipt for their U.S. income tax returns under the Canada-United States Income Tax Convention.</p>
<p>American citizens (or residents) who are not alumni or related to alumni of the University of Toronto, as well as corporations, foundations, estates and trusts requiring a U.S. tax receipt, can contribute to the University through The Associates of the University of Toronto, Inc., established in 1947 to facilitate donations. The Associates is a not-for-profit organization recognized under the U.S. Internal Revenue Code, Section 501(c)(3).</p>
<p>For more information on giving to Trinity through the Associates of the University of Toronto, Inc. please call Gary Kaufman toll free at 1-800-699-1736 or email <a href="mailto:associates.ut@utoronto.ca">associates.ut@utoronto.ca</a>. Please ensure that you indicate that you would like your international gift to be allocated to Trinity College.</p>
<p><strong>Hong Kong</strong><br>
The&nbsp;University of {{site.country}}Hong Kong Foundation solicits and receives donations for scholarships, enabling undergraduate students from Hong Kong with financial need to attend the University of Toronto. https://boundless.utoronto.ca/the-campaign/hong-kong-foundation/<strong>&nbsp;</strong></p>
<p><strong>United Kingdom</strong><br>
Residents of England, Wales, Scotland and Northern Ireland who are interested in making a gift to Trinity College are asked to contact us at (416) 978-4071.</p>
</div></div>
<div class="expand-title" tabindex="0">Gifts of Stock, Bonds and Securities</div><div class="expand-wrapper"><div class="expand-content"><p>
Donating publicly traded stock and securities is a tax-smart way to support Trinity College. You will receive a tax receipt for the full appreciated value of a donation of publicly traded stock or securities and you will not be subject to any capital gains tax.</p>
<p>Eligible securities include shares, debt obligations or rights listed on a prescribed stock exchange, a share of the capital stock of a mutual fund corporation, a unit of a mutual fund trust, an interest in a related segregated fund trust, or a prescribed debt obligation.</p>
<p>The simplest way to make your gift of stock or securities is to have the shares electronically transferred from your account to Trinity’s account. Staff in the Office of Development &amp; Alumni Affairs will help guide you through the process and provide any necessary information. The receipt value will be based on the closing trading price on the day Trinity College receives delivery of the shares. As with any gift, you may designate the use of the value of the securities or leave the gift unrestricted.</p>
<p><a href="https://www.Trinity.utoronto.ca/wp-content/uploads/2024/05/Trinity-College-Publicly-Traded-Securities-Form-UPDATED.pdf" rel="noopener noreferrer">Download the PDF form to make a gift of securities</a> (PDF)</p>
<p><strong>The benefits of making a gift of stock or securities:</strong></p>
<ul>
<li>Capital gains tax on publicly listed stocks and securities are exempt when you donate your shares to Trinity College rather than selling and donating the proceeds (see example below).</li>
<li>The value of your tax receipt will be based on the market closing price on the day Trinity takes legal receipt of your stock or securities into our brokerage account.</li>
<li>You may claim charitable donations up to 75 per cent of your net income, and a five year carry-forward on any unused donation amount is permitted.</li>
</ul>
<p><strong>Example of the exemption of capital gains tax on gifted securities:</strong></p>
<p>Ms. Donor decided to support Trinity College with a gift of $100,000. When reviewing whether she should sell her shares in a publicly-listed corporation and then donate the cash proceeds or donate the shares directly, Ms. Donor learned that she would have a greater net tax benefit by donating the shares directly to the College. The chart below assumes a tax rate of 50 percent.</p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td width="221"></td>
<td width="221"><strong>Sell Shares &amp; Donate Cash</strong></td>
<td width="221"><strong>Donate Shares Directly</strong></td>
</tr>
<tr>
<td width="221">Fair market value:</td>
<td width="221">$100,000</td>
<td width="221">$100,000</td>
</tr>
<tr>
<td width="221">Cost basis:</td>
<td width="221">$20,000</td>
<td width="221">$20,000</td>
</tr>
<tr>
<td width="221">Capital gain:</td>
<td width="221">$80,000</td>
<td width="221">$80,000</td>
</tr>
<tr>
<td width="221">Taxable gain:</td>
<td width="221">$40,000</td>
<td width="221">$0</td>
</tr>
<tr>
<td width="221">Tax credit (at 50 %)</td>
<td width="221">$50,000</td>
<td width="221">$50,000</td>
</tr>
<tr>
<td width="221">Tax on gain (at 50%):</td>
<td width="221">$20,000</td>
<td width="221">$0</td>
</tr>
<tr>
<td width="221"><strong>Tax savings</strong>:</td>
<td width="221"><strong>$30,000</strong></td>
<td width="221"><strong>$50,000</strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>For more information, please contact us at&nbsp;416-978-2651 or <a href="mailto:development@Trinity.utoronto.ca">development@Trinity.utoronto.ca</a>. An information kit on making gifts of stock and the related notification forms can be forwarded to you or your broker.</p>
<p><em>This information is general in nature, does not constitute legal or financial advice and should not be relied upon as a substitute for professional advice. We strongly encourage you to seek legal, estate planning and/or financial advice before deciding upon your course of action.</em></p>
</div></div>
<p>&nbsp;</p>
<!-- not found WP_Query Object
(
    [query] => Array
        (
            [post_type] => testimonials
            [posts_per_page] => 1
            [name] => im-a-passionate-and-hard-working-person-and-your-investment-in-my-future-is-worthwhile
        )

    [query_vars] => Array
        (
            [post_type] => testimonials
            [posts_per_page] => 1
            [name] => im-a-passionate-and-hard-working-person-and-your-investment-in-my-future-is-worthwhile
            [error] => 
            [m] => 
            [p] => 0
            [post_parent] => 
            [subpost] => 
            [subpost_id] => 
            [attachment] => 
            [attachment_id] => 0
            [pagename] => 
            [page_id] => 0
            [second] => 
            [minute] => 
            [hour] => 
            [day] => 0
            [monthnum] => 0
            [year] => 0
            [w] => 0
            [category_name] => 
            [tag] => 
            [cat] => 
            [tag_id] => 
            [author] => 
            [author_name] => 
            [feed] => 
            [tb] => 
            [paged] => 0
            [meta_key] => 
            [meta_value] => 
            [preview] => 
            [s] => 
            [sentence] => 
            [title] => 
            [fields] => 
            [menu_order] => 
            [embed] => 
            [category__in] => Array
                (
                )

            [category__not_in] => Array
                (
                )

            [category__and] => Array
                (
                )

            [post__in] => Array
                (
                )

            [post__not_in] => Array
                (
                )

            [post_name__in] => Array
                (
                )

            [tag__in] => Array
                (
                )

            [tag__not_in] => Array
                (
                )

            [tag__and] => Array
                (
                )

            [tag_slug__in] => Array
                (
                )

            [tag_slug__and] => Array
                (
                )

            [post_parent__in] => Array
                (
                )

            [post_parent__not_in] => Array
                (
                )

            [author__in] => Array
                (
                )

            [author__not_in] => Array
                (
                )

            [ignore_sticky_posts] => 
            [suppress_filters] => 
            [cache_results] => 1
            [update_post_term_cache] => 1
            [lazy_load_term_meta] => 1
            [update_post_meta_cache] => 1
            [nopaging] => 
            [comments_per_page] => 50
            [no_found_rows] => 
            [order] => DESC
        )

    [tax_query] => 
    [meta_query] => WP_Meta_Query Object
        (
            [queries] => Array
                (
                )

            [relation] => 
            [meta_table] => 
            [meta_id_column] => 
            [primary_table] => 
            [primary_id_column] => 
            [table_aliases:protected] => Array
                (
                )

            [clauses:protected] => Array
                (
                )

            [has_or_relation:protected] => 
        )

    [date_query] => 
    [request] => SELECT   wp_posts.* FROM wp_posts  WHERE 1=1  AND wp_posts.post_name = 'im-a-passionate-and-hard-working-person-and-your-investment-in-my-future-is-worthwhile' AND wp_posts.post_type = 'testimonials'  ORDER BY wp_posts.post_date DESC 
    [posts] => Array
        (
        )

    [post_count] => 0
    [current_post] => -1
    [in_the_loop] => 
    [comment_count] => 0
    [current_comment] => -1
    [found_posts] => 0
    [max_num_pages] => 0
    [max_num_comment_pages] => 0
    [is_single] => 1
    [is_preview] => 
    [is_page] => 
    [is_archive] => 
    [is_date] => 
    [is_year] => 
    [is_month] => 
    [is_day] => 
    [is_time] => 
    [is_author] => 
    [is_category] => 
    [is_tag] => 
    [is_tax] => 
    [is_search] => 
    [is_feed] => 
    [is_comment_feed] => 
    [is_trackback] => 
    [is_home] => 
    [is_privacy_policy] => 
    [is_404] => 
    [is_embed] => 
    [is_paged] => 
    [is_admin] => 
    [is_attachment] => 
    [is_singular] => 1
    [is_robots] => 
    [is_posts_page] => 
    [is_post_type_archive] => 
    [query_vars_hash:WP_Query:private] => 45ff885af08eaed734a401866d9f5604
    [query_vars_changed:WP_Query:private] => 
    [thumbnails_cached] => 
    [stopwords:WP_Query:private] => 
    [compat_fields:WP_Query:private] => Array
        (
            [0] => query_vars_hash
            [1] => query_vars_changed
        )

    [compat_methods:WP_Query:private] => Array
        (
            [0] => init_query_flags
            [1] => parse_tax_query
        )

)
 -->
<p style="text-align: center">To learn more about how your support enables students like Alisha Deshmukh to succeed, <a href="https://www.Trinity.utoronto.ca/connect/giving/our-donors/" rel="noopener noreferrer">view the 2020-2021 Impact Report</a>.</p>
                    <div class="sidebarSection">
                        <p>Contact Us:</p>
<p><strong>Deborah Storey</strong><br>
Development Associate<br>
416-978-4071<br>
<a href="mailto:deborah.storey@utoronto.ca">deborah.storey@utoronto.ca</a></p>
<p>Charitable Registration No.: 119269751RR0001</p>
                    </div>
                                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="section-intro-menu"><ul class="list-clean"></ul></div>        </div>
    </div>

    
</div>

<div class="discover discover-subpage">
	<div class="container">
        <div class="row">
            <div class="col">
                <div class="discover-bottom-border"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.Trinity.utoronto.ca/connect/alumnievents/reunion/">
                    Trinity Reunion 2025                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="http://magazine.Trinity.utoronto.ca" target="_blank">
                    Trinity Magazine                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.Trinity.utoronto.ca/connect/giving/">
                    Giving                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.Trinity.utoronto.ca/connect/volunteer/">
                    Volunteer                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.Trinity.utoronto.ca/connect/stay-in-touch/">
                    Stay in Touch                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://secure.e2rm.com/registrant/DonationPage.aspx?eventid=357160">
                    Donate Online                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://livingTrinity.ca/" target="_blank">
                    Living {{site.name}}              </a>
            </div>
                </div>
    </div>
</div>
{% endblock content %}