





{% extends './base.html' %}
{% load static %}
{% block content %}

<div class="section hidelanding">
    <div id="container" class="container"><a id="skip-to-content" name="skip-to-content" class="anchor_padding"></a>
        <div class="row">
            <div class="col-12 col-lg-9 col-xl-10">
                <div class="section-breadcrumbs"><!-- Breadcrumb NavXT 6.3.0 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home Page." href="/" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Discover Trinity College." href="https://www.trinity.utoronto.ca/discover/" class="post post-page"><span property="name">Discover Trinity College</span></a><meta property="position" content="2"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to About Trinity." href="https://www.trinity.utoronto.ca/discover/about/" class="post post-page"><span property="name">About Trinity</span></a><meta property="position" content="3"></span> &gt; <span class="hidebreadcrumb">Working at Trinity</span></div>
                <div class="sectionContent">
                    <h1>Working at Trinity</h1>
                <h3>TRINITY COLLEGE STAFF &amp; FACULTY</h3>
<p>Trinity staff, faculty and members of our academic community are known for their unwavering dedication to students. Our communal nature and small size means our close-knit community offers students a supportive, personalized and engaging academic and social environment. We are a diverse and caring workforce, and our collective work is guided by the pillars of our <a href="https://www.trinity.utoronto.ca/discover/about/who-we-are/strategic-plan/">Strategic Plan</a>.</p>
<p>The Human Resources &amp; Equity Office functions as a service partner in the design and delivery of employment services and programs to meet the College’s strategic goals. The Office aims to:</p>
<ul>
<li>Recruit and retain talented employees</li>
<li>Provide an inclusive, welcoming and safe working environment</li>
<li>Provide a supportive environment and opportunities to develop their fullest potential</li>
</ul>
<p><a href="https://www.trinity.utoronto.ca/discover/about/working-at-trinity/career-opportunities/">For current employment opportunities at the College, click here</a>.</p>
<p>If you have any questions, please contact:<br>
Annabella Yellan<br>
Director, Human Resources &amp; Equity<br>
416-978-8760 ext. 68760<br>
<a href="mailto:trinity.hr@utoronto.ca">trinity.hr@utoronto.ca</a></p>
<p>&nbsp;</p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="section-intro-menu"><ul class="list-clean"><li><a href="https://www.trinity.utoronto.ca/discover/about/working-at-trinity/employees/">Resources for Employees</a></li><li><a href="https://www.trinity.utoronto.ca/discover/about/working-at-trinity/career-opportunities/">Career Opportunities</a></li><li><a href="https://www.trinity.utoronto.ca/discover/about/working-at-trinity/teaching-staff/">Resources for Teaching Faculty</a></li><li><a href="https://www.trinity.utoronto.ca/discover/about/working-at-trinity/policies-plans-procedures/">Policies, Plans &amp; Procedures</a></li></ul></div>        </div>
    </div>

    
</div>

<div class="discover discover-subpage">
	<div class="container">
        <div class="row">
            <div class="col">
                <div class="discover-bottom-border"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.trinity.utoronto.ca/discover/about/">
                    About Trinity                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.trinity.utoronto.ca/discover/take-a-tour/">
                    Take a Tour of the Community!                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.trinity.utoronto.ca/discover/contact-us/">
                    Contact Us                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.trinity.utoronto.ca/discover/catering-events/">
                    Event Services &amp; Catering                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.trinity.utoronto.ca/lawson-centre-for-sustainability/" target="_blank">
                    Lawson Centre for Sustainability                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.trinity.utoronto.ca/sustainability">
                    Integrated Sustainability Initiative                </a>
            </div>
                    <div class="col-md-3 col-lg-1-5">
                <a class="discover-footer-link" href="https://www.trinity.utoronto.ca/discover/about/who-we-are/governance/">
                    College Governance                </a>
            </div>
                </div>
    </div>
</div>
{% endblock content %}